<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MonoGame.Framework.WindowsUAP" version="3.4.0.459" targetFramework="win81" userInstalled="true" />
  <package id="SharpDX" version="3.0.0-alpha02" targetFramework="win81" userInstalled="true" />
  <package id="SharpDX.XAudio2" version="3.0.0-alpha02" targetFramework="win81" userInstalled="true" />
  <package id="System.Numerics.Vectors" version="4.0.0" targetFramework="win81" userInstalled="true" />
</packages>